body{
    background-image:url('background.mp4');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

h1{
    font-family: "Audiowide", sans-serif;
    color: #255773;
    text-align: center;
    font-size: 120px;
    text-shadow: 2px 2px 8px #969292;
}

/*background:*/
/*https://mixkit.co/free-stock-video/clouds-and-blue-sky-background-2408/*/